.uploadFileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    + label {
        // font-size: em;
        font-weight: 700;
        color: white;
        background-color: #394B59;
        display: inline-flex;
        padding: 0.5rem;
        align-items: center;

        svg {
            margin-right: 0.5rem;
        }
    }

    &:focus + label, & + label:hover {
        background-color: #30404D;
    }
}