@import '../../../../_Design/index.scss';

$pane-header-height: 80px;

.slide-pane {
    display: flex;
    flex-direction: column;
    background: $color-white;
    width: 100%;
    min-width: 100px;
    height: 100%;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);

    transition:  transform .3s ease-in;
    will-change: transform;

    &:focus {
        outline-style: none;
    }

    &_from_right {
        margin-left: auto;
        transform: translateX(100%);

        &.ReactModal__Content--after-open {
            transform: translateX(0%);
        }

        &.ReactModal__Content--before-close {
            transform: translateX(100%)
        }
    }

    &_from_left {
        margin-right: auto;
        transform: translateX(-100%);

        &.ReactModal__Content--after-open {
            transform: translateX(0%)
        }

        &.ReactModal__Content--before-close {
            transform: translateX(-100%)
        }
    }

    &_from_bottom {
        height: 90vh;
        margin-top: 10vh;
        transform: translateY(100%);

        &.ReactModal__Content--after-open {
            transform: translateY(0%)
        }

        &.ReactModal__Content--before-close {
            transform: translateY(100%)
        }
    }

    &__overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(16, 22, 26, 0);
    }

    &__overlay.ReactModal__Overlay--after-open {
        background-color: rgba(16, 22, 26, 0.6);
        transition: background-color .3s;
    }

    &__overlay.ReactModal__Overlay--before-close {
        background-color: rgba(16, 22, 26, 0);
    }

    &__header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background: $color-medium1;
        flex-flow: wrap;        
        position: absolute;
        z-index: 10000;

        &__menu {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px 20px;
            // border-bottom: 1px solid $color-light2;
            border-bottom: 1px solid #586477;
        }

        &__actions {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 20%;
            height: 100%;
            margin: 0;
            padding: 0;
            padding: 10px 20px;
            a {
                color: $color-primary2;           
            }
        }
    }

    &__title-wrapper {
        height: 80px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $color-light2;
        margin: 0;
        padding: 10px 20px;
    }

    & &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 24px;
        font-weight: 250;
        margin: 0;
        padding: 0;
    }

    &__subtitle {
        font-size: 12px;
        margin: 0;
        padding: 0;
        margin-top: 6px;
        font-weight: 400;
    }

    &__close {
        margin-left: 24px;
        padding: 16px;
        opacity: .7;
        cursor: pointer;

        svg {
            padding: 0;
        }
    }

    &__content {
        overflow-y: auto;
        padding: 120px 32px;
        flex: 1 1 auto;
        margin-top: 10px;
    }

    &__action {
        margin: 10px;

        > button {
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 60px;
            padding: 20px;
            background: $color-primary4;
            color: $color-white;
            font-size: 18px;
            font-weight: 250;
            text-decoration: none;
            border: none;
            width: 100%;
            border-radius: 4px;

            &:hover {
                background: lighten($color-primary3, 2%);
                cursor: pointer;
            }
        }
    
    }
}