@import '../../../_Design/index.scss';
$case-grid-gutter: $space-l;


#case-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
}

.case-view {
    &__controls {
        margin-top: $space-xl;
        margin-bottom: $space-xl;
        background: $color-light2;
        // border-bottom: 1px solid  $color-medium3; 
        border-bottom: 1px solid #E0E6EC;
        border-radius: 0;
        padding: 0 $space-m;
        height: 56px;
        position: relative;
        display: flex;
        align-items: center;
        // box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2)
        box-shadow: none;
    }
}

.case-card {
    &__grid {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: flex-start;
        // margin-right: -$space-l;
        // padding: 1em;
        max-width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }

    &__wrapper {
        // width: calc(25% - #{$case-grid-gutter});
        // margin-right: $case-grid-gutter;
        // margin-bottom: $case-grid-gutter;
        // border: 1px solid $color-light1;; 
        // height: 200px;
        flex-basis: 25%;
        -ms-flex: auto;
        width: 259px;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    @media(max-width: 1333px) {
      &__wrapper {
        flex-basis: 33.33%;
      }
    }@media(max-width: 1073px) {
       &__wrapper {
        flex-basis: 33.33%;
      }
    }@media(max-width: 815px) {
      &__wrapper {
        flex-basis: 50%;
      }
    }@media(max-width: 555px) {
      &__wrapper {
        flex-basis: 100%;
      }
    }

    &__actions {
        width: calc(100% + 2px);
        margin-left: -1px;
        padding: 12px;
        background: $color-light1;
        border-top: 1px solid  $color-light2;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; 
        justify-content: space-evenly;
        display: flex;
        overflow: hidden;
    }
}


nav.challenges {
    border-bottom: 1px solid #fbeeee;
    ul {
        list-style: none;
        text-align: center;
        margin: 0;
        height: 60px;
      }

      ul li {
        display: inline-block;
      }

      ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 5px;
      }

      ul li a,
      nav ul li a:after,
      nav ul li a:before {
        transition: all .5s;
      }

      ul li a:hover {
        color: darken(#FFFFFF, 30%);
        text-decoration: none;
      }
}
