@import '../../../_Design/index.scss';
$case-grid-gutter: $space-l;


#case-card {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: auto;
}

.case-view {
    &__controls {
        margin-top: $space-xl;
        margin-bottom: $space-xl;
        background: $color-light2;
        // border-bottom: 1px solid  $color-medium3; 
        border-bottom: 1px solid #E0E6EC;
        border-radius: 0;
        padding: 0 $space-m;
        height: 56px;
        position: relative;
        display: flex;
        align-items: center;
        // box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1), 0 0 0 rgba(16, 22, 26, 0), 0 1px 1px rgba(16, 22, 26, 0.2)
        box-shadow: none;
    }
}

.case-card {
    &__grid {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: flex-start;
        // margin-right: -$space-l;
        // padding: 1em;
        max-width: 1635px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    &__wrapper {
        // width: calc(25% - #{$case-grid-gutter});
        // margin-right: $case-grid-gutter;
        // margin-bottom: $case-grid-gutter;
        // border: 1px solid $color-light1;; 
        // overflow: hidden;
        height: auto;
        flex-basis: 25%;
        -ms-flex: auto;
        width: 329px;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }

    &__actions {
        width: calc(100% + 4px);
        margin-left: -1px;
        padding: 12px;
        background: $color-light1;
        border-top: 1px solid  $color-light2;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; 
        justify-content: space-evenly;
        display: flex;
        overflow: hidden;
    }

    @media(max-width: 1333px) {
        &__wrapper {
            flex-basis: 33.33%;
        }
    }

    @media(max-width: 1073px) {
        &__wrapper {
            flex-basis: 33.33%;
        }
    }

    @media(max-width: 815px) {
        &__wrapper {
            flex-basis: 50%;
        }
    }

    @media(max-width: 755px) {
        &__wrapper {
            flex-basis: 100%;
        }
    }
}