// Color Scheme 

$color-dark1: #182026; 
$color-dark2: #293742;
$color-medium1: #394B59;
$color-medium2: #5C7080;
$color-medium3: #BFCCD6;
$color-light1: #E1E8ED;
$color-light2: #F5F8FA;
$color-white: #FFFFFF;
$color-primary1: #CFF3D2;
$color-primary2: #8BCDBC;
$color-primary3: #59A3AC;
$color-primary4: #3878A1;
$color-primary5: #1F4B99;
$color-primary6: #D78742;

$space-s: 8px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 24px;
